<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <nav>
        <a href="/login">Login</a> |
        <a href="/">Home</a> |
        <a href="/register">Register</a> |
        <a href="/me">My Stories</a> |
        <a href="/upload">Upload New Story</a>
    </nav>

    <h1><%= title %></h1>
    hello
    <p>Welcome to <%= title %></p>
</body>
<script src="/scripts/idb.js"></script>
<script src="/scripts/database.js"></script>
<script src="/scripts/setup.js"></script>
</html>
