<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <span id='navbar'>
        <a href="/">Home</a>
        <a href="/massUpload">Mass JSON Upload</a>
    </span>

    <h1><%= title %></h1>
    Refresh me if I don't do it automatically after a few seconds...
</body>
<script src="/scripts/idb.js"></script>
<script src="/scripts/database.js"></script>
<script src="/scripts/common.js"></script>
<script src="/scripts/setup.js"></script>
</html>
