<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <span id='navbar'>
    <a href="/">Home</a>
  </span>

  <h1>Login</h1>

  
  <form>
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
  </form>
  <button id="loginButton">Login</button>
  <div id="loginErrors"></div>
  
</body>

<script src="/scripts/idb.js"></script>
<script src="/scripts/database.js"></script>
<script src="/scripts/common.js"></script>
<script src="/scripts/validate.js"></script>
<script src="/scripts/login.js"></script>


</html>